@use "config";
@use "subpage";

$main: #C52E2E;
$sub: #2A52BE;

@mixin sp {
  @media (max-width:(520px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}


/* =================================
header
 ================================= */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: background-color 0.4s ease;

  // スクロール対応のとき（透明で開始）
  &.header-scroll-js {
    background-color: transparent;

    // スクロール後に赤
    &.scrolled {
     background-color: rgba(197, 46, 46, 0.9);
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 8px 12px;
    max-width: 1240px;
    margin: 0 auto;

  }

  &__ttl-wrap {
    max-width: 300px;

    @include pc {
      max-width: 240px;
    }

    @include tab {
      max-width: 200px;
      margin: 10px 0 0;
    }
  }


  &__center-logo {
    max-width: 100px;

    @include tab {
      display: none;
    }
  }


  &__menu-wrap {

    @include tab {
      display: none;
    }
  }

  &__menu-inner {
    display: flex;
    gap: 24px;

    @include pc {
      gap: 12px;
    }
  }

  &__menu {
    font-weight: 700;
    font-size: 14px;
  }


  &__btn-wrap {
    display: none;

    @include tab {
      display: block;
      cursor: pointer;
      z-index: 99;
      top: 14px;
      right: 12px;
      position: absolute;
      width: 24px;
    }
  }
}

.header-sp {
  opacity: 0;
  transition: all 0.3s;
  transform: translate(100%, 0);
  z-index: 101;
  position: fixed;
  top: -4px;
  right: 0;
  padding: 80px 12px 0 40px;
  background: #23243A;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;


  &.active {
    opacity: 1;
    transition: all 0.3s;
    transform: translate(0, 3px);
    z-index: 100;
  }

  &__btn-img {
    width: 24px;
    display: block;
    cursor: pointer;
    z-index: 99;
    top: 14px;
    right: 12px;
    position: absolute;
  }

  &__menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &__menu-item {
    &--margin {
      margin: 0 0 24px;
    }
  }

}




/* =================================
メインビジュアル
 ================================= */

.main-visual {

  position: relative;
  width: 100%;
  height: 100vh; // 画面いっぱいの高さ
  overflow: hidden;

  @include tab {
    height: auto; // 全画面表示をやめる
    min-height: 700px;
  }

  @include sp {
    min-height: 500px;
  }

  &__movie-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include tab {
      position: relative;
      height: auto;
    }
  }

  &__movie {
    width: 100%;
    height: 100%;
    object-fit: cover; // 画面いっぱいに拡大（トリミングあり）
    display: block;

    @include tab {
      height: auto;
      object-fit: contain; // トリミングしないで全体表示
    }
  }

  &__lead {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  &__dec {
    position: absolute;
    bottom: -1px;
    width: 100%;

    @media screen and (min-width: 1600px) {
      bottom: -50px;

    }
  }

  &__dec-sp {
    position: absolute;
    bottom: -1px;
    width: 100%;
  }

  &__scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    width: 200px;
    animation: floatY 2s ease-in-out infinite;

    @media screen and (max-width: 1300px) {
      width: 180px;

    }

    @include pc {
      width: 100px;
      transform: translate(-50%, 2%);
    }

    @include tab {
      width: 120px;
      transform: translate(-50%, 50%);
      z-index: 2;


    }
  }

  @keyframes floatY {
    0% {
      bottom: 5%;
      opacity: 1;
    }

    50% {
      bottom: 6.5%; // 上方向へ少し動く
      opacity: 0.6;
    }

    100% {
      bottom: 5%;
      opacity: 1;
    }
  }

  &__ {}
}


/* =================================
お知らせ
 ================================= */

.top-info {
  padding: 40px 12px 160px;

  @include tab {
    padding: 40px 12px;
  }

  &__inner {
    max-width: 1200px;
    margin: 32px auto 0;
    padding: 0 12px;

    @include tab {
      padding: 32px 16px;

    }
  }

  &__ttl-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 24px;
    padding: 0 4px;

    @include tab {
      justify-content: center;
    }
  }

  &__ttl {
    max-width: 460px;

    @include tab {
      max-width: 180px;
    }
  }

  &__link {

    @include tab {
      display: none;
    }
  }

  &__link-sp {
    display: none;

    @include tab {
      display: block;
      text-align: right;
      margin: 0 27px 0 0;
    }
  }



  &__article-wrap {
    @include tab {
      margin: 0 0 12px;
    }
  }

  &__article {
    border-bottom: #43445F 1px solid;
    padding: 18px 4px 18px 4px;
    position: relative;

    &:first-of-type {
      border-top: #43445F 1px solid;
    }

    @include tab {
      padding: 12px 4px 12px 4px;
    }
  }

  &__article-link {
    display: flex;
    align-items: center;
    gap: 24px;

    @include tab {
      flex-wrap: wrap;
      gap: 8px;

    }
  }



  &__date {
    white-space: nowrap;
    color: $main;

  }

  &__article-ttl {
    flex: 1;
    line-height: 1.2;

    @include tab {
      flex: none;
      width: 100%;
    }
  }

  &__arrow {
    margin-left: auto;
    width: 24px;

  }
}


/* =================================
事業内容
 ================================= */

.top-business {
  margin: 0 0 120px;

  @include tab {
    margin: 0 0 60px;

  }

  &__flex {
    display: flex;


    @include tab {

      justify-content: center;
    }
  }

  &__img {
    width: 60%;
      overflow: hidden;


    @include tab {
      display: none;
    }
  }

  &__img-sp {
    display: none;
      overflow: hidden;


    @include tab {
      display: block;
    }
  }

  &__text-wrap {}

  &__ttl {
    max-width: 260px;
    margin: 0 0 80px 40px;

    @include tab {
      max-width: 200px;
      margin: 0 auto 32px;
    }
  }

  &__content {
    background: rgba(35, 36, 58, 0.9);
    margin: 0 0 0 -140px;
    padding: 12px 80px 12px 80px;
    border-radius: 24px 0 0 24px;

    @include tab {
      margin: 0 auto;
      max-width: 400px;
      padding: 12px 12px 12px 12px;

    }
  }

  &__content-text {
    position: relative;
    padding: 32px 0 32px 100px;
    border-bottom: #43445F 1px solid;
    max-width: 400px;

    &:last-of-type {
      border-bottom: none;

    }

    @include tab {
      padding: 32px 0 32px 60px;
    }



    &::before {
      content: url(../img/top/business_1.png);
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(0.35);

      @include tab {
        transform: scale(0.3);
        left: -12px;

      }

    }

    &--2 {
      &::before {
        content: url(../img/top/business_2.png);

      }
    }

    &--3 {
      &::before {
        content: url(../img/top/business_3.png);

      }
    }
  }


  &__ {}


}

/* =================================
選ばれる理由
 ================================= */

.top-strengths {
  margin: 0 0 120px;

  @include tab {
    margin: 0 0 60px;

  }

  &__flex {
    display: flex;
    flex-direction: row-reverse;



    @include tab {

      justify-content: center;
    }
  }

  &__img {
    width: 60%;
      overflow: hidden;


    @include tab {
      display: none;
    }
  }

  &__img-sp {
    display: none;
      overflow: hidden;


    @include tab {
      display: block;
      margin: 0 0 18px 18px;
    }
  }

  &__text-wrap {
    position: relative;
    margin: 0 -140px 0 0;

    @include tab {
      margin: 0;
      margin: -40px 0 0 0;

    }

  }

  &__ttl {
    max-width: 400px;
    margin: 0 0 80px;

    @include tab {
      max-width: 280px;
      margin: 0 auto 32px;
    }
  }

  &__content {
    background: rgba(35, 36, 58, 0.9);
    padding: 12px 80px 12px 0;
    border-radius: 0 24px 24px 0;

    @include tab {
      width: 95%;
      margin: -64px 0 0 0;
      padding: 24px 12px 40px 12px;
      position: relative;

    }
  }

  &__content-lead {
    font-size: 24px;
    margin: 0 0 24px;

  }

  &__content-text {
    max-width: 400px;

    @include tab {
      max-width: 700px;
    }
  }


  &__ {}


}

/* =================================
造船実績
 ================================= */

.top-achievement {

  @include tab {

  }

  &__flex {
    display: flex;
    margin: 0 0 40px;



    @include tab {

      justify-content: center;
    }
  }

  &__img {
    width: 60%;
      overflow: hidden;


    @include tab {
      display: none;
        overflow: hidden;

    }
  }

  &__img-sp {
    display: none;

    @include tab {
      display: block;
      margin: 0 18px 0 0;
    }
  }

  &__text-wrap {}

  &__ttl {
    max-width: 260px;
    margin: 0 0 80px 40px;

    @include tab {
      max-width: 200px;
      margin: 0 auto 32px;
    }
  }

  &__content {
    background: rgba(35, 36, 58, 0.9);
    margin: 0 0 0 -140px;
    padding: 20px 80px 120px 100px;
    border-radius: 24px 0 0 24px;

    @include tab {
      width: 95%;
      margin: -64px 0 0 auto;
      padding: 24px 12px 40px 12px;
      position: relative;

    }
  }

  &__content-text {
    font-size: 20px;
    text-align: right;
    padding: 16px 0 16px 40px;
    border-bottom: #43445F 1px solid;
    max-width: 400px;

    @include tab {
      text-align: left;
      padding: 8px 0;

    }




    &:last-of-type {
      border-bottom: none;

    }



    span {
      font-size: 14px;

      @include pc {
        display: block;
      }
    }
  }


  &__ {}


}


/* =================================
会社概要
 ================================= */

.top-profile {
  padding: 8px 12px 500px;
  background-color: #fff;
  background-image: url(../img/top/profile-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain; // ← 画面いっぱいに拡大
  background-position: center bottom; // ← 下寄せ配置
  position: relative;


  @include tab {
    padding: 8px 12px 350px;
    background-image: url(../img/top/profile-bg-sp.jpg);

  }

  @include sp {
    padding: 8px 12px 200px;
    background-image: url(../img/top/profile-bg-sp.jpg);

  }


  &__inner {
    max-width: 1200px;
    margin: 32px auto 0;
    padding: 0 12px;

    @include tab {
      padding: 32px 16px;

    }
  }


  &__ttl {
    max-width: 460px;
    margin: 0 0 80px;

    @include tab {
      max-width: 180px;
      margin: -40px auto 40px;
    }
  }

  &__title {}

  &__list {
    margin: 0;
    padding: 0;
  }

  &__row {
    display: flex;
    align-items: baseline;
    gap: 20px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    @include tab {
      gap: 8px;
    }
  }

  &__label {
    flex: 0 0 10em; // 左ラベルの固定幅
    max-width: 10em;
    font-weight: 700;
    color: #111;

    @include tab {
      flex: 0 0 5em; // 左ラベルの固定幅
    }
  }

  &__value {
    flex: 1 1 auto;
    color: #111;
    line-height: 1.8;
    overflow-wrap: anywhere; // 長い住所対応
  }

  &__dec {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
Googleマップ
 ================================= */

.top-map {
  background-color: $main;
  padding: 0 12px 0;

  @include tab{
  padding: 0 12px 0;
  }

  &__ttl {
    max-width: 240px;
    margin: -40px auto 64px;
    position: relative;

    @include tab {
      max-width: 180px;
      margin: 0px auto 40px;
    }
  }

  &__map-wrap {
    max-width: 1040px;
    margin: 0 auto;
  }

  &__map {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 40.25%;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 24px;

      @include tab {
        border-radius: 12px;
      }
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}




/* =================================
footer
 ================================= */

.footer {
  position: relative;
  background-color: $main;
  padding: 80px 16px 0;

  @include tab{
  padding: 40px 16px 80px;
  }


  &__logo {
    max-width: 100px;
    margin: 0 auto 32px;
    display: block;
  }

  &__ttl {
    max-width: 300px;
    margin: 0 auto 4px;
  }

  &__text {
    text-align: center;
    margin: 0 0 40px;

    @include tab {
      margin: 0 0 24px;

    }

    span {
      display: inline-block;
      margin: 0 0 0 12px;

      @include tab {
        display: block;
        margin: 0;
      }
    }
  }

  &__link-wrap {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 64px;

    }

  }

  &__link {}


  &__bottom {
    font-size: 12px;
    text-align: center;
    padding: 12px;
    background-color: $main;
    color: #fff;
  }

  &__go-to-btn {
    width: 40px;
    position: fixed;
    bottom: 0px;
    right: 0px;

    &--osusume {
      bottom: 100px;
    }
  }
}